.FormRoot1 {
  width: 100%;
  gap: 18px;
  display: flex;
  flex-direction: column;
  
}

.FormField1 {
display: grid;
width: 400px;
/* margin-bottom: 6px; */
}

.FormLabel1 {
font-size: 15px;
font-weight: 500;
line-height: 35px;
color: #F6F6F6;
margin-bottom: 0.1rem;
}

.FormMessage1 {
font-size: 13px;
color: rgb(255, 83, 83);
opacity: 0.8;
}

.Input1,
.Textarea1 {
display: inline-flex;
align-items: center;
justify-content: center;
border-radius: 6px;
font-size: 15px;
color: white;
border: 1px solid #522300;
background: rgba(255, 255, 255, 0.03);
padding: 0.8rem 16px;
}

.Input1:hover,
.Textarea1:hover {
  border: 1px solid #fff;
/* box-shadow: 0 0 0 1px white; */
}

.Input1:focus,
.Textarea1:focus {
/* box-shadow: 0 0 0 2px white; */
border: 1px solid #fff;
}


.Input1::selection,
.Textarea1::selection {

color: white;
}


.Textarea {
resize: none;
padding: 10px;
text-wrap: wrap;
}








/* For phone form */
.special-label{
  display: none !important;
}

.react-tel-input .form-control {
  font-size: 16px;
  background: #000 !important;
  color: #fff !important;
  border: none !important;
  border: 1px solid #522300 !important;
  border-radius: 6px !important;
  width: 100% !important;
  outline: none;
  padding: 0.8rem 58px !important;
  transition: box-shadow ease .25s, border-color ease .25s;
}

.react-tel-input .flag-dropdown{
  z-index: 2;
  /* background: white; */
}

.react-tel-input .form-control:focus {
  /* border-color: #ffff; */
  box-shadow: none !important;
  border: 1px solid #ffff !important;
}


/* service select UI */
.css-1ckjnw1-control {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: 38px;
  outline: 0 !important;
  position: relative;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  background-color: black;
  border-color: #2a2a2c !important;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;

  box-sizing: border-box;
  color: white;
  padding: 0.2rem 0 !important;
}

.css-1yqoimm-control {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: 38px;
  outline: 0!important;
  position: relative;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  background-color: black;
  border-color: #FF7003 !important;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 0 0 1px #FF7003 !important;
  box-sizing: border-box;
  color: white;
  padding: 0.2rem 0 !important;
}

.css-1jqq78o-placeholder {
  grid-area: 1 / 1 / 2 / 3;
  color: #92a3af !important;
  margin-left: 2px;
  margin-right: 2px;
  box-sizing: border-box;
}


